<app-loader [loading]="false"></app-loader>
<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Quienes Somos</h2>
      <p>Somos una tienda especialista en tecnología con el ánimo de brindarle el mejor servicio con alianzas con las
        mejores marcas.</p>
      <p>Nos basamos en un sistema por puntos y una suscripción con renovación.</p>
      <p>Queremos posicionarnos como la mejor elección para que usted obtenga lo último en tecnología para sus funciones
        domésticas y de entretenimiento, llevando la ultimo de la vanguardia tecnológica a su hogar.</p>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/AboutImage1.jpg" class="d-block w-100" alt="No image">
    </div>
    <div class="row">
      <div class="col">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7931.858018094848!2d-75.57813297210492!3d6.2730654762537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468290801fc40b%3A0x278d1d049676680b!2sFlorida%20Parque%20Comercial!5e0!3m2!1ses-419!2sco!4v1602810022052!5m2!1ses-419!2sco"
          width="550" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
      <div class="col">
        <h2>Estamos ubicados en:</h2>
        <p>Parque comercial florida</p>
        <p>Local: 1234</p>
        <p>Estamos esperando por atenderte</p>
        <img src="../../../assets/img/atencion.jpg" class="d-block w-100" alt="No image">
      </div>
    </div>
    <div class="container">
      <h1>Nuestras marcas aliadas</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../../../assets/img/Marcas/acer.jpg" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/apple.jpg" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/generalelectric.jpg" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/haceb.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/hp.jpg" class="mediana">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="../../../assets/img/Marcas/lenovo.jpg" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/lg.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/nintendo.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/ps.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/samsung.jpg" class="mediana">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="../../../assets/img/Marcas/sony.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/universal.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/whirpool.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/xiaomi.png" class="mediana">
        </div>
        <div class="col">
          <img src="../../../assets/img/Marcas/xbox.jpg" class="mediana">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>