<!-- shopping cart -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title" id="myLargeModalLabel">Tus productos</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div *ngIf="items?.length > 0 else noitems">
          <div class="modal-body overflow-auto">
            <div class="card-product" *ngFor="let item of items">
              <div class="row products mb-3">
                <div class="col-md-4">
                  <div class="card bg-green">
                    <img height="auto" [src]="item.imagen" alt="Image">
                  </div>
                </div>
                <div class="col-md-8">
                  <p>{{item.descripcion}}</p>
                  <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">Cantidad: </label>
                    <select class="col-sm-2 form-control" name="" id=""
                      (change)="setQuantity(item, $event.target.value)">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                    </select>
                    <span class="icon-cart ml-3 mt-1" (click)="removeItem(item)"><i class="fas fa-trash"></i>
                      Eliminar</span>
                  </div>

                  <span class="prize"><strong>{{item.precio | number}} pts</strong></span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <span class="prize mr-auto"><strong>Total: {{4500 | number}} pts</strong></span>
            <button type="button" class="btn btn-outline-success" [routerLink]="['/cartShopping']" routerLinkActive="router-link-active" data-dismiss="modal">Ver Carrito</button>
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Ir a pagar</button>
          </div>
        </div>

      </div>
      <ng-template #noitems>
        <div class="modal-content">
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              No tienes productos en el carrito!
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>