<app-navigation></app-navigation>
<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4">Page Heading
    <small>Secondary Text</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Project Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna
        varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu
        convallis placerat, felis enim.</p>
      <h3 class="my-3">Project Details</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
      </ul>
      <hr>
      <div>
        <div class="form-group">
          <div class="row">
            <label for="" class="col-sm-2 col-form-label mr-3">Cantidad: </label>
            <div class="col-sm-8">
              <select class="form-control" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <h4>Precio: <span class="prize">{{1250000 | currency:'USD':'symbol': '4.0-2'}}</span></h4>
        </div>
        <div class="">
          <button class="btn btn-outline-success btn-block"><i class="fas fa-shopping-cart"></i> Agregar al
            carrito</button>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Related Projects</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>

  </div>
  <!-- /.row -->
  <nav class="mt-5">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
        aria-controls="nav-home" aria-selected="true">Descripción</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
        aria-controls="nav-profile" aria-selected="false">Especificaciones</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
        aria-controls="nav-contact" aria-selected="false">Opiniones</a>
    </div>
  </nav>
  <div class="tab-content mt-3 mb-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Animi dolor natus, soluta veritatis vel, et ratione eligendi quae a
      quam aperiam quibusdam error modi eum amet placeat libero est at.</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Odit ad dicta sapiente quam harum nam veniam facilis officia! Quas vitae fugit
      ratione quibusdam numquam similique dolorum autem nemo quam libero!
      Temporibus numquam iste, corrupti ab quisquam repellat cumque tempora sit, quas excepturi quam maxime modi beatae
      optio culpa quibusdam at officiis repellendus perferendis ex autem cupiditate animi enim quaerat. Necessitatibus.
      Fugiat quis tempora, repudiandae quod adipisci fugit ab enim ratione ipsa? Nesciunt consequuntur deleniti pariatur
      error, autem officia consequatur, praesentium consectetur quas illum culpa tenetur laboriosam? Porro aut eum
      corrupti!
      Iusto corrupti obcaecati exercitationem dolorum facilis quam, sequi mollitia in doloremque voluptates molestiae
      laboriosam architecto quae, odit, quo numquam magnam dolor! Ex tempore aliquid culpa soluta eligendi ad.
      Architecto, asperiores!
      Tempora, laboriosam repudiandae, odio tempore veritatis vitae odit fugiat aspernatur obcaecati dicta quas iure eos
      harum voluptatum, cumque vero! Est quidem aut eaque deleniti quisquam consequatur quo assumenda minima
      accusantium.
      Fugiat aut, magni similique ab nulla iure quod soluta blanditiis libero modi tenetur suscipit vero! Ex error culpa
      perferendis unde veritatis labore vel. Libero facilis nobis dicta! Fugit, quisquam dolor!
      Porro perferendis reprehenderit omnis necessitatibus ipsum eum optio dicta soluta voluptate maxime. Aperiam ipsa
      eius dicta doloribus id quas, aut dolorem adipisci at? Nihil, facilis molestias facere amet explicabo vitae?
      Deleniti possimus id harum ducimus nostrum nulla repellat dolores voluptatum! Atque voluptatibus sint et
      cupiditate nostrum quo illo, asperiores veniam? Voluptatum ex alias reiciendis porro corporis quod dignissimos
      pariatur ab.
      Minus molestiae fugiat soluta. A, quae. Et eius dolorem neque, illum deleniti hic at officiis optio voluptatibus
      suscipit perspiciatis repudiandae dignissimos fuga architecto assumenda aspernatur. Dolorum in alias aspernatur
      obcaecati!
      Repudiandae impedit nulla perspiciatis dolor maxime ut? Doloribus officiis praesentium deserunt saepe. Earum
      soluta velit eum at, quos error voluptate ratione magnam sequi repellendus rem vel laborum nulla beatae! Modi.
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>

</div>
<!-- /.container -->
<app-footer></app-footer>