<!-- shopping cart -->
<div class="modal fade bd-purchasing-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <h4>No has iniciado sesión</h4>
          <p>Debes <a [routerLink]="['/login']" data-dismiss="modal">Iniciar sesión</a> o <a
              [routerLink]="['/register']">crea una cuenta</a> para continuar con la compra!</p>
        </div>
      </div>
    </div>
  </div>
</div>