.carousel-inner {
    max-height: 350px;
}

.card {
    cursor: pointer;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px;
}

.icon-xs, .icon-sm, .icon-md, .icon-lg {
    display: inline-block;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.widget-header {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    float: right;
    top: -45px;
}


.rounded-circle {
    border-radius: 50% !important;
}

.widget-header .notify {
    position: absolute;
    top: 30px;
    right: -10px;
}

.float-md-right {
    float: right !important;
}

.icontext {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
}

.icontext .icon {
    position: relative;
    margin-right: 10px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.icontext .text {
    width: 100%;
    line-height: 1.2;
    color: #212529;
}

.category {
    cursor: pointer !important;
}

.card-img-top {
    max-height: 10rem;
    width: auto;
    /* margin-left: 25%; */
    margin-top: 1rem;
}