<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <div class="container container-fluid animate__animated animate__fadeIn">
            <a class="navbar-brand" href="/">ARKADIA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" ><i class="fas fa-home"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/products']" routerLinkActive="router-link-active" ><i class="fas fa-mobile-alt"></i> Nuestros productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active" ><i class="fas fa-building"></i> Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" ><i class="fas fa-envelope"></i> Contactenos</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" style="color: #ffffff;" type="submit">Buscar</button>
                </form>
            </div>
    </div>
</nav>

<header class="section-header" #navFixed id="navFixed">
    <section class="header-main border-bottom bg-white" >
        <div class="container p-3">
            <div class="row align-items-center">
                <div class="col-lg-8 col-sm-12 col-xs-12 col-md-8">
                    <a href="/" class="brand-wrap">
                        <img class="logo" src="../../../../assets/img/logo.png" width="180">
                    </a> <!-- brand-wrap.// -->
                </div>
                <div class="col-lg-4 col-sm-12 col-xs-12 col-md-4">
                    <div class="widgets-wrap float-md-right">
                        <div class="widget-header  mr-3">
                            <a data-toggle="modal" data-target=".bd-example-modal-lg" class="icon icon-sm rounded-circle border"><i
                                    class="fa fa-shopping-cart"></i></a>
                            <span class="badge badge-pill badge-danger notify">{{numProducts}}</span>
                        </div>
                        <div class="widget-header icontext">
                            <a href="#" class="icon icon-sm rounded-circle border"><i class="fa fa-user"></i></a>
                            <div class="text">
                                <span class="text-muted">Bienvenido</span>
                                <div *ngIf="!user else bannerUser">
                                    <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Ingresar</a> |
                                    <a [routerLink]="['/register']" routerLinkActive="router-link-active" > Registrese</a>
                                </div>
                            </div>
                            <ng-template #bannerUser>
                                <div class="text">
                                    <h6>{{user.nombre}} {{user.apellido}}</h6>
                                    <span class="points-title">Tus puntos </span>
                                    <span class="points-user">{{pointsUser}}</span>
                                    <a class="close-sesion" (click)="closeSession()" style="text-decoration: underline; color: blue; cursor: pointer;">Cerrar sesión</a>
                                </div>
                            </ng-template>
                        </div>

                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
</header>

<app-modal-shopping-cart></app-modal-shopping-cart>