/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto' !important;
}

.text-bold {
    font-weight: bold;
}

.text-red {
    color: red;
}

.limitado{
    min-height: 60px;
}