
<div class="modal fade bd-purchase-success-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-body">
      <div class="alert alert-success mt-2" role="alert">
        <h4>¡Su compra se ha registrado correctamente!</h4>
        <p>Muchas gracias por su compra, en breves instantes nuestro equipo de logistica se comunicará con usted para coordinar la entrega.  <a [routerLink]="['/home']" data-dismiss="modal">Regresar</a>
      </div>
    </div>
  </div>
</div>
</div>